<div class="bgnd">
    <span class="heading">
        Wanna See Existing Intern Time Logs? ==> &nbsp;&nbsp;<button (click)="getLog()" class="btn btn-success">Click Here</button>
    </span>
    
    <div *ngIf="log">
        <table class="table" class="table table-bordered">
            <thead>
                <tr class="table-dark">
                <th scope="col">User ID</th>
                <th scope="col">LogIn Time</th>
                <th scope="col">LogOut Time</th>
                </tr>
            </thead>
            <tbody *ngFor="let intern of log">
                <tr  class="table-success">
                <td>{{intern.userId}}</td>
                <td>{{intern.logInTime}}</td>
                <td>{{intern.logOutTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
