<div class="alert alert-success center" *ngIf="!roleStatus">
  <span class="title">Intern Management System</span>
  <a class="nav-link active reg" aria-current="page" routerLink="register">Register</a>
  <a class="nav-link active log" aria-current="page" routerLink="login">Login</a>
  <a class="nav-link active ticket" aria-current="page" routerLink="ticket">Ticket</a>
  <a class="nav-link active intern" aria-current="page" routerLink="intern">Intern Details</a>
  <a class="nav-link active login" aria-current="page" routerLink="time">Login Details</a>
  
</div>


<router-outlet></router-outlet>

